#container{
    display: grid;
    grid-template-columns: 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px;
    grid-template-rows: 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px;
    padding: 5px;
    
}

.grid{
    border: 1px solid black;
}
#button{
    display: flex;
    justify-content: center;
    align-items: center;
}
#grid-container{
    display: flex;
    justify-content: center;
    align-items: center;
}